# Global default to handle text files
* text=auto eol=lf

# Explicitly ensure these extensions are LF
*.tf      text eol=lf
*.tfvars  text eol=lf
*.yaml    text eol=lf
*.yml     text eol=lf
*.md      text eol=lf
Dockerfile text eol=lf
.gitignore text eol=lf